<div *ngIf="!data">
  Loading...
</div>

<div *ngIf="data && !data.length">
  No users.
</div>

<div *ngIf="data && data.length">
  <h3>Normal Lists</h3>
  <!-- simple list, uses default template -->
  <app-list [data]="data"></app-list>

  <hr />

  <!-- list that uses disclosure icon, a custom item template and no row lines -->
  <app-list
    [data]="data"
    [disclose]=true
    [rowLines]=false
    (itemdisclose)="onDisclose($event.item, $event.event)"
  >
    <ng-template #itemTpl let-item>
      Name: {{ item.name }}
    </ng-template>
  </app-list>

  <h3>Horizontal Lists</h3>

  <!-- simple horizontal list, uses default template -->
  <app-list [data]="data" [inline]=true></app-list>

  <hr />

  <!-- simple horizontal list, uses default template and no row lines -->
  <app-list
    [data]="data"
    [disclose]=true
    [inline]=true
    [rowLines]=false
    (itemdisclose)="onDisclose($event.item, $event.event)"
  >
    <ng-template #itemTpl let-item>
      Name: {{ item.name }}
    </ng-template>
  </app-list>
</div>
