<div
  [class.list-item]=true
  [class.inline]="inline"
  [class.vertical]="!inline"
  [class.row-lines]="rowLines"
  *ngFor="let item of data"
  (click)="itemclick.emit({ event: $event, item: item })"
>

  <!-- A default template -->
  <ng-template #defaultTpl>
    {{ item.text }}
  </ng-template>

  <div [class.list-item-inner]=true>
    <ng-template
      *ngIf="itemTpl else defaultTpl"
      ngFor
      let-item
      [ngForOf]="[item]"
      [ngForTemplate]="itemTpl"
    ></ng-template>
  </div>

  <div
    class="disclose"
    *ngIf="disclose"
    (click)="itemdisclose.emit({ event: $event, item: item })"
  >
    <!-- use from fortawesome? -->
    ->
  </div>

</div>
