<ul>
  <li *ngFor="let message of mail.messages">

    <div
      class="message"
      *ngIf="activeMessage?.id !== message.id"
      (click)="onClick(message, $event)"
    >
      {{ message.text }}
    </div>

    <div *ngIf="activeMessage?.id === message.id">
      <input
        #mailUpdateEl
        type="text"
        [(ngModel)]="activeMessage.text"
        (keypress)="onKeyPress(activeMessage, $event)"
        #ctrl="ngModel"
        required
      >

      <button (click)="onCancel()">Reset</button>
      <button (click)="onUpdate(activeMessage)">Update Message</button>
    </div>

  </li>
</ul>
