<div
  [class.inline]="inline"
  [class.vertical]="!inline"
  *ngFor="let item of data"
  (click)="itemclick.emit({ event: $event, item: item })"
>
  <ng-template
    *ngIf="itemTpl else defaultTpl"
    ngFor
    let-item
    [ngForOf]="[item]"
    [ngForTemplate]="itemTpl"
  >
  </ng-template>

  <div
    class="disclose"
    *ngIf="disclose"
    (click)="itemdisclose.emit({ event: $event, item: item })"
  >
    <!-- use from fortawesome? -->
    ->
  </div>

  <!-- A default template -->
  <ng-template #defaultTpl>
    {{ item.text }}
  </ng-template>
</div>
